name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  go-preflight-kit-api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/preflight_kit_api
    steps:
    - uses: actions/checkout@v5
      with:
        # increased fetch depth to support git diff
        fetch-depth: 2
    - uses: actions/setup-go@v6
      with:
        cache-dependency-path: ./go/preflight_kit_api
        go-version: '^1.25.4'
    - run: ./build.sh
    - run: git diff --exit-code
      name: "Ensure that Go API changes (as a consequence of OpenAPI spec changes) are checked in"
    - run: go get
    - run: go test

  go-preflight-kit-sdk:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/preflight_kit_sdk
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          cache-dependency-path: ./go/preflight_kit_sdk
          go-version: '^1.25.4'
      - name: Audit
        run: |
          go mod download
          make audit
